body{
    margin: 0;
    padding: 0;
}

header{
    background-color:black;
    color: #fff;
    padding: 10px ;
}

nav{
    text-align: center;
}

.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li{
    display: inline-block;
    margin-right: 20px;
}

.menu li a{
    color:#fff;
    text-decoration: none;
}

.menu li a:hover{
    background-color: #555;
}
.dropdown-menu{
    display: none;
    position: absolute;
    background-color: #333;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.dropdown:hover .dropdown-menu, .dropdown-menu li{
    display: block;
}
.dropdown-menu li a{
    width: 200px;
    display: block;
}

